<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="orangeHR test Automation ">

	<listeners>
		<listener
			class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="regression">
		<classes>
			<class name="com.hrm.qa.testcases.LoginPageTest"></class>
			<class name="com.hrm.qa.testcases.HomePageTest"></class>

		</classes>
	</test>
</suite>


